.mobile-menu {
  position: absolute;
  top: 40px;
  right: 40px;
  display: block;
  width: 36px;
  height: 36px;
  color: $mainWhite;
  border: 1px solid $mainWhite;
  padding-bottom: 10px;
  padding-left: 3px;
  padding-right: 3px;
  cursor: pointer;
  @mixin atSmall {
    display: none;
  }
  @mixin atMedium {
    display: none;
  }
  @mixin atLarge {
    display: none;
  }
  div {
    border-bottom: 1px solid $mainWhite;
    padding: 3px;
    margin: 2px;
  }
}
